@charset "utf-8";
.w{font-family:"微软雅黑"}
.s{font-family:"宋体"}
input{outline:0}
button{outline:0}
.o{-moz-transition:.8s;-ms-transition:.8s;-webkit-transition:.8s;opacity:.8}
.t{-moz-transition:.8s;-ms-transition:.8s;-webkit-transition:.8s}
.p{-moz-transition:.8s;-ms-transition:.8s;-webkit-transition:.8s;opacity:1}
.f{-moz-transform:scale(1.02);-ms-transform:scale(1.02);-webkit-transform:scale(1.02);transform:scale(1.02)
}button{outline:0}
input{outline:0}
select{outline:0}
input::-webkit-input-placeholder{color:#282828!important}
.q{-moz-transition:.8s;-ms-transition:.8s;-webkit-transition:.8s;opacity:1}
.q:hover{-moz-transition:.8s;-ms-transition:.8s;-webkit-transition:.8s;opacity:.8}
body.b1{background:url(../images/pc_2.jpg) center top}

.header{height:80px;text-align:center;width:100%;border-bottom:solid 1px #e7e7e7;background-color:#fff;line-height:80px}
.header .logo{clear:both}
.headers{height:80px;text-align:center;width:100%;line-height:80px}
.headers .logo{padding-top:7px;clear:both}
.t1{margin-left:120px;margin-bottom:8px}
.cont_z{width:800px;margin:0 auto;text-align:left}
.content_c{background:#fff;width:910px;height:670px;margin:0 auto;position:relative;border-radius:10px;border:solid 1px #e3e3e3;margin-top:15px;text-align:center}
.content_c .c1{background-color:#ebebeb;width:380px;height:158px;border-radius:8px;float:left}
.content_c .c1 p{line-height:22px;font-size:16px;color:#333;width:330px;margin:0 auto;text-align:left}
.content_c .c1 font{color:#f0c}
.content_c .c1 img{padding-top:22px;margin-bottom:8px}
.content_c img{padding-top:30px}
.content_c .x1{position:absolute;top:90px;left: 350px;}
.content_c .span1{position:absolute;top:400px;left: 400px; color:red;font-size: 26px;font-weight: bold}
.content_c .Time_btn{background:#00a9f2;width:212px;height:50px;margin:0 auto;border-radius:25px;border:none;font-size:16px;text-align:center;color:#fff;cursor:pointer;margin-left:290px;margin-top:22px}
.form{float:left;width:100%}
.form li{height:52px;border:solid 1px #eaeaea;border-top:none}
.form li span{display:block;width:120px;height:40px;line-height:40px;text-align:center;font-size:14px;color:#fff;font-family:"微软雅黑";background-color:#40af8d;margin-top:7px;margin-left:7px;float:left}
.form li input{border:solid 1px #40af8d;line-height:38px;width:595px;float:left;margin-top:7px;text-indent:15px;color:#333;font-size:14px}
.form li font{display:block;width:70px;height:40px;line-height:40px;text-align:center;font-size:14px;color:#fff;font-family:"微软雅黑";background-color:#40af8d;margin-top:7px;float:left}
.btn{width:315px;height:60px;border-radius:30px;background-color:#00a9f2;text-align:center;line-height:60px;font-size:16px;color:#fff;margin:0 auto;margin-top:20px}
.btn a{color:#fff}
.wx{font-family:"微软雅黑";font-size:14px;color:#333;text-align:center;line-height:26px;margin-top:20px}
.wx a{color:#0749c1}
.footers{text-align:center;line-height:90px;color:#333;height:100px}
.text{color:#f0c;font-size:16px;font-family:"微软雅黑";width:100%;height:60px;line-height:62px;text-align:center;float:left;font-weight:700}